<!-- app/views/questions/answer.html.erb -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="my-4 text-center">Your question was:</h1>
      <p class="lead text-center"><%= @question %></p>

      <h1 class="my-4 text-center">Coach's answer:</h1>
      <p class="lead text-center"><%= @answer %></p>

      <div class="text-center my-4">
        <%= link_to 'Ask Again', ask_path, class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>
</div>
