<!-- app/views/questions/answer.html.erb -->
<div class="container">
  <h1 class="my-4">Your question was:</h1>
  <p class="lead"><%= @question %></p>

  <h1 class="my-4">Coach's answer:</h1>
  <p class="lead"><%= @answer %></p>
</div>
